<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Your Title</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/dist/css/build.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- import CSS or other 3rd pary libs -->
</head>
<body>

<div id="container"></div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/dist/js/file-manager.widget.js"></script>

<script type="text/javascript">
    var FileManagerObject = new FileManagerAPI();

    FileManagerObject.set([
        {_id: 5, path: '/etc/etc-sub-dir/sub-sub-etc-dir/file'},
        {_id: 5, path: '/etc/etc-sub-dir/sub-sub-etc-dir/file1'},
        {_id: 5, path: '/etc/file3'},
        {_id: 5, path: '/etc/etc-sub-dir/sub-sub-etc-dir2/file5'},
        {_id: 6, path: '/tmp/dir-test/qwe2'},
        {_id: 7, path: '/tmp/dir-test-1/qwe'},
        {_id: 8, path: '/tmp/dir-test/qwe3'}
    ]);

    FileManagerObject.on('delete', function(filename, key) {
        console.log("Delete file " + filename + " with key " + key);
    });

    FileManagerObject.on('create', function(filename, key) {
        console.log("Create file " + filename + " with key " + key);
    });

    FileManagerObject.emitter().emitCreate("New file", 123);

    FileManagerObject.initialize();
</script>
</body>
</html>