.breadcrumb-nav {
  background-color: #E7E5E2;
  color: rgba(43,43,43,.5);
  padding: 7px 15px;
}
.breadcrumb-link {
  display: inline-block;
  margin-right: 20px;
  color: rgba(43,43,43,.5);
  text-decoration: none;
}